body {
  background-color: #ffffff;
  color: #333;
  font-family: "Tinos", serif;
  transition: background-color 0.3s, color 0.3s;
}

.navbar {
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
  height: 40px;
}

.nav-link {
  color: #333 !important;
  font-weight: 500;
}

.nav-link:hover {
  color: #000 !important;
}

.nav-item{
  margin: 5px;
}

.header {
  padding-top: 128px !important;
  font-family: "Tinos", serif;
}

.btn-dark {
  background-color: #333;
  border-color: #333;
  color: #fff;
  transition: background-color 0.3s;
}

.btn-dark:hover {
  background-color: #555;
}

.portfolio-item img {
  width: 100%;
  height: auto;
  transition: transform 0.3s;
}

.portfolio-item:hover img {
  transform: scale(1.05);
}

footer {
  background: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  margin-top: 50px;
}

.profile-image {
  max-width: 100%;
  border-radius: 20px;
  margin-bottom: 20px;
  transition: transform 0.3s;
}

.profile-image:hover {
  transform: scale(1.05);
}

.light-mode {
  background-color: #ffffff;
  color: #333;
}

.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode .card {
  background-color: #1e1e1e;
  color: #ddd;
  border: 1px solid #333;
}

.dark-mode .navbar {
  background-color: #1e1e1e;
  border-bottom: 1px solid #333;
}

.dark-mode .nav-link {
  color: #ddd !important;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  transition: opacity 0.5s ease-out;
  padding-left: 10px;
  padding-right: 10px;
}

.loader-logo {
  min-width: 100px;
  max-width: 350px;
  animation: wave 2s ease-in-out infinite;
  padding-left: 10px;
  padding-right: 10px;
}

@keyframes wave {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.loader.hidden {
  opacity: 0;
  visibility: hidden;
}

#loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none; 
}

#photo-gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery-card {
  width: 100%;
  max-height: 300px;
  margin-bottom: 15px;
  border: none;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
}

.gallery-card img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  cursor: pointer;
}

.gallery-card img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.image-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  z-index: 2000;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.modal-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  max-height: 90%;
}

.modal-description {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  color: #ffffff;
  text-align: center;
  font-size: 1rem;
  background: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  margin: 0;
}

.modal-description.hidden{
  display: none;
}

.full-image {
  min-width: 10px;
  min-height: 10px;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
  transform: scale(1.1);
}

.close-button i {
  font-size: 16px;
  margin-bottom: 2px;
  margin-top: 2px;
}

body.modal-open {
  overflow: hidden;
}

.toggle-container {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 30px;
  margin-right: 10px;
}

.toggle-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  margin-bottom: 0;
}

.toggle-circle {
  position: absolute;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  background-color: white;
  top: 2px;
  left: 2px;
  transition: transform 0.3s;
}

.sun-icon {
  color: #f39c12; 
  font-size: 14px;
}

.moon-icon {
  color: #555; 
  font-size: 14px;
}

.toggle-input:checked + .toggle-label {
  background-color: #333;
}

.toggle-input:checked + .toggle-label .toggle-circle {
  transform: translateX(30px);
}

.toggle-input:checked + .toggle-label .sun-icon {
  color: #999; 
}

.toggle-input:checked + .toggle-label .moon-icon {
  color: #f1c40f; 
}

.language-button {
  flex: 1;
  padding: 5px 10px;
  border: none;
  background: #f0f0f0;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.language-button.active {
  background: #333;
  color: #fff;
}

.language-button:hover {
  background: #ddd;
}

.language-button:not(.active):hover {
  color: #000;
}